# Envirnmental variabiles
.env/
.env
/.env

# Python virtual environment
.venv/
venv/
__pycache__/

# Local database
db.sqlite3

# VS Code
.vscode/

# Database data
data.json

# SECRET_KEY
secret_key.txt

.devcontainer/
dump.rdb